<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/app.css"/>
</head>

<body>
    <h1>Greeting page</h1>
    <p> <%= data.greeting %> <%= data.name %> <%= data.surname %></p>
</body>
</html>