<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/app.css"/>
</head>

<body>
    <h1>Welcome to your profile page!</h1>
    <p> User: <%=data.user%> alias <%=data.username%></p>
    <img src="/images/<%= data.filename %>" alt="photo">
</body>
</html>