.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: palevioletred;
}

#pickImageButton {
    background-color: pink;
    padding: 1em 2em;
    margin: 1em;
}

#pickImageButton:hover {
    border-color: palevioletred;
    color: palevioletred;
    cursor: pointer;
}