body{
    background-color: lightblue;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1, h2{
    color: darkblue;
}

#like-btn{
    padding: 1em 2em;
    background-color: white;
    color: darkblue;
    border-radius: 15%;
}

#like-btn:hover{
    background-color: darkblue;
    color: white;
    cursor: pointer;
}